body {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.calc-body {
    background: gray;
    width: 350px;
    height: 500px;
    display: grid;
    grid-template-columns:
        auto;
    grid-template-rows:
        1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "screen screen screen screen"
        "one one one one"
        "two two two two"
        "three three three three"
        "four four four four"
        "five five five five";
}
.calc-screen {
    position: relative;
    grid-area: screen;
    background: pink;
    margin-bottom: 1em;
}
.display {
    position: absolute;
    top: 25%;

    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    background: darkgreen;
    color: lime;
    font-weight: 800;

}
.display
.row-1 {
    grid-area: one;
}
.row-2 {
    grid-area: two;
}
.row-3 {
    grid-area: three;
}
.row-4 {
    grid-area: four;
}
.row-5 {
    grid-area: five;
}
.row-1,
.row-2,
.row-3,
.row-4,
.row-5 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
/* =========== DA BUTTON ZONE ============ */
button {
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 50%;

    box-shadow: 2px 2px rgba(25, 25, 25, .75);
}
#clear,
#equals {
    width: 150px;
    border-radius: 70px;
}
button:hover {
    transform: scale(.95);

    box-shadow: none;
}
