body {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.title {
    margin-left: 5vw;
    font-weight: 900;
}

.calc-body {
    background: hsl(332, 35%, 56%);
    width: 350px;
    height: 600px;
    margin: 0 5vw;
    display: grid;
    grid-template-columns:
        auto;
    grid-template-rows:
        2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "screen"
        "one"
        "two"
        "three"
        "four"
        "five";

    border-radius: 45px;
    border: 8px solid hsl(332, 35%, 75%);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, .3);
}
.calc-screen {
    grid-area: screen;
}
.display-container {
    height: 50%;
    width: 80%;
    margin: 3em auto;
    padding: 0;
    
    background: hsl(208, 25%, 58%);
    border: 8px solid hsl(332, 35%, 75%);
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;

    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);

}
.display {
    height: 50%;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    color: hsl(154, 100%, 88%);
    font-weight: 800;
    font-size: 2em;
}
.row-1 {
    grid-area: one;
}
.row-2 {
    grid-area: two;
}
.row-3 {
    grid-area: three;
}
.row-4 {
    grid-area: four;
}
.row-5 {
    grid-area: five;
}
.row-1,
.row-2,
.row-3,
.row-4,
.row-5 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
/* =========== DA BUTTON ZONE ============ */
button {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: hsl(355, 88%, 70%);

    box-shadow: 3px 2px hsl(267, 25%, 50%);
    border: 3px solid white;
    font-family: monospace;
    font-weight: 800;
    font-size: 1.6em;
    color: hsl(267, 25%, 40%);
}
#clear,
#equals {
    width: 150px;
    border-radius: 70px;
}
button:hover {
    transform: scale(.95);
    box-shadow: none;
}
